@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}
#app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background: #c2c2d6;
  cursor: default;
  user-select: none;
}

.calculator {
  background: black;
  border: 2px solid #47476b;
  padding: 5px;
  position: relative;
  width: 320px;
}

.formulaScreen {
  color: orange;
  font-family: digital;
  font-size: 20px;
  line-height: 20px;
  min-height: 20px;
  overflow-wrap: break-word;
  text-align: right;
  vertical-align: text-top;
  word-wrap: break-word;
}

.outputScreen {
  color: white;
  font-size: 29px;
  font-family: digital;
  line-height: 35px;
  text-align: right;
}

button {
  background: #4d4d4d;
  border: none;
  color: white;
  cursor: default;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  outline: 1px solid black;
  position: relative;
  width: 80px;
  height: 65px;
}
button:hover {
  color: black;
  outline: .05em solid grey;
  z-index: 3;
}

.jumbo {
  width: 160px;
}

.author {
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
  text-align: center;
}
.author a {
  color: #00264d;
  line-height: 26px;
  text-decoration: none;
}
